/* Importando a fonte da pasta Fonts */
@font-face {
    font-family: Quicksand-light;
    src: url(../fonts/Quicksand-Light.ttf);
}

* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;  
  font-family:  Quicksand-light;
}

:root {
    --color-light: #f4f4f4;
    --color-dark: #111;
    --color-orange: #ff6600;
    --spacing-sm: 10px;
    --spacing-md: 20px;
    --spacing-lg: 30px;
}


html {
    scroll-behavior: smooth;
}

ol, ul {
    list-style: none;
}

body {
    background-color: var(--color-dark);
    
}

a {
    color: var(--color-light);
    text-decoration: none;
    font-weight: 800;
}

a:hover {
    color: var(--color-orange);
}



.hero {
    
    background-image: linear-gradient(to top, rgba(0, 0, 0, .8), rgba(0, 0, 0, .4)),  
    url(../images/motos/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    color: var(--color-light);
    padding-inline: var(--spacing-md);
    text-align: center;
}

.header-hero {
     /* background-color: #dc123c;  */
     height: 100px;
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.menu-list {
    display: flex;
    gap: var(--spacing-md);
}

.cta {
    /* background-color: #dc123c; */
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-md);

}

.cta h2 {
    font-size: 10vmin;
    text-wrap: balance;
}

.cta p {
    width: 70%;
    /* background-color: #ff6600;  */
    line-height: 1.6;
    text-wrap: balance;
}

.btn:hover .icon{
    animation: motinha 2s infinite linear;
}


/* animação para moto ícone */
@keyframes motinha {
    0%,
    100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(20px);
    }
}

.btn {
    border: 2px solid var(--color-orange);
    padding: var(--spacing-sm) var(--spacing-lg);
    border-radius: 80px;
    background-color: var(--color-orange);
    transition: .5s;
}

.btn:hover {
    background-color: transparent;

}

.galeria {
    min-height: 100vh;
    padding: var(--spacing-md);
    color: var(--color-light);
}

.galeria h2{
    font-size: 7vmin;
    margin-bottom: var(--spacing-lg);
}

.grid-motos {
    columns: 3 300px;
}

.grid-motos img {
    width: 100%;
    margin: var(--spacing-sm);
    display: block;
    border-radius: 8px;
    animation: viewAnimation both;
    animation-timeline: view(70% 20%);
}

@keyframes viewAnimation {

    from{
        opacity: 0;
        transform: scale(.5);
    }
    to{
        opacity: 1;
        scale: 1;
    }


}



section {
    height: 100vh;
}